/** {
	-moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}*/



/***** Basic Styles *****/

html {
	background-color: white;
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
  padding-top: 10px;
}

header {
    -ms-flex-negative: 0;
      flex-shrink: 0;
}

section {
  background-color: none;
}


.container {
	max-width: 1280px;
}

.container.is-fluid {
  margin: 0 auto;
}

.yellow, .button.is-primary {
	background-color: #ffde00;
}

.grey {
  background-color: #f5f5f5;
}

.yellow-type {
	color: #ffde00;
}

.white {
	color: white;
}

.white-background {
  background-color: white;
}

.black {
  color: black;
}

.black-bck {
  background-color: #eeeded;
}


i {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

li {
  padding-top: 6px;
}

.lgt-grey {
  color: #b2b1b1;
}




/***** Header & Nav *****/


.nav{
	min-height: 55px
}

.nav-item img {
  max-height: 63px;
}

.tregoed-padding {
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 20px;
  padding-bottom: 10px;
}

.icon.is-medium {
  font-size: 18px;
  height: 32px;
  line-height: 30px;
}

.icon.is-subnav {
  font-size: 30px;
  height: 32px;
  line-height: 43px;
}

.circle {
    border-radius: 50%;
    min-height: 35px;
    min-width: 35px;
    border: 3px solid #ffde00;
}

.playbutton {
  margin: 0 auto;
  text-align: center;
  font-size: 8em;
  color: #dadbdf;
  opacity: 0.7;
}

.subnav-circle {
    border-radius: 60%;
    min-height: 45px;
    min-width: 45px;
    border: none;
}

.subnav-circle.purple-circle {
    background-color:  #8b0170;
}

.subnav-circle.green-circle {
    background-color:  #3d9a27;
}

.subnav-circle.red-circle {
    background-color:  #b20002;
}

.subnav-circle.umber-circle {
    background-color:  #ca8a07;
}

.nav-type {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: .0675em;
	text-transform: uppercase;
	font-weight: 800;
	margin-right: 65px;
}

.nav-type.last-item{
  margin-right: 0px;
}

.line {
	height: 7px;
	width: 40%;
	margin: 5px auto;
}

.submenu {
  padding-top: 25px; 
  padding-bottom: 25px;
}

.hiw-boxes {
  width: 48%;
/*  border: 1px solid purple;*/
}

.how-it-works-menu {
    padding-top: 0px;
    margin: 0 auto;
/*    border: 1px solid green;*/
}

.submenu li {
  display: inline-block;
  color: #8b0170;
/*      border: 1px solid black;*/
}


.mobile-subnav {
  display: none;
}

.how-it-works-type {
  font-size: 2.75em;
  font-weight: 300;
}

/***** Header & Nav *****/

/* Dropdown Button */


.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1230px;
    min-width: 160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content.how-it-works {
 /*   display: none;*/
    width: 1000px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #fff}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
    color: #363636;
}

/***** Rollovers *****/

.purple {
  color: #8b0170;
}

.green {
  color: #3d9a27;
}

.red {
    color: #b20002;
}

.burnt-umber {
  color: #ca8a07;
}

.four-process-type {
    font-size: 1.25em;
}

.purpose {
  color: black;
  font-size: 12.5px;
  letter-spacing: .0675em;
  text-transform: uppercase;
  font-weight: 800;
}

.subnav-graphic {
  border-right: 1px solid #e0dfdf;
  min-width: 172px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.subnav-graphic.ppa {
  padding-right: 0px;
  border-right: none;
}

.subnav-graphic.sa {
  padding-left: 0px;
}

.subnav-graphic.hiw {
    padding-right: 0px; 
    padding-left: 0px; 
/*    width: 30%;*/
    margin: 0 auto;
}


.subnav-graphic:hover {
  opacity: .75;
}


/***** Hero *****/

.hero {
	margin: 0 auto; 
  width:100%;

    min-height: 600px;
    max-height: 600px;
  padding-bottom: 0px;
  padding-top: 0px;
  z-index: 0;

}

.tagline {
  padding-top: 45px;
  }


.is-large {
	width:100%;
	max-width: 2400px;
  background-size: cover;
  padding-bottom: 0px;
  padding-top: 220px;
}


h1 {
	font-family: 'Kreon', 'Georgia', serif;
	text-align: center; 
  font-weight: 700;
  font-size: 3.6em;
  text-shadow: 2px 2px #070707;
  letter-spacing: .05em;
  line-height: 1.1em;
  padding-bottom: 10px;
}


@media screen and (min-width: 769px) {
/*  .hero.is-large .hero-body {
    padding-bottom: 119px;
    padding-top: 178px;
  }*/
}


.subtitle {
  font-weight: 700;
  font-size: 1.688em;
  margin-top: 3px;
  letter-spacing: .01em;
  text-shadow: 1px 1px #292929;
  text-align: center;
}

/* black square */


.black-square {
  display: flex;
  position: absolute;
}

.box {
  z-index: 2;
}

.notification {
    background-color: black;
    border-radius: 0px;
    margin-right: 5%;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 4;

}


.twenty-two-pt {
  font-size: 1.22em;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.reach-out {

}

.field-is-smaller {
  width: 50%;
}

h2 {
  font-family: 'Kreon', 'Georgia', serif;
  text-align: center; 
  font-weight: 700;
  font-size: 2.3em;
  padding-bottom: 15px;
}


h4 {
  font-weight: 300;
  font-size: 2.4em;
}

h5 {
  font-weight: 700;
  font-size: 1.125em; 
  color: #e0612b; 
  text-transform: uppercase;
}

h5.is-sub-head {
  padding-bottom: 10px;
}

h6 {
  font-style: italic;
  font-weight: 400;
  color: #212121;
  font-size: 1.55em;
  letter-spacing: -.005em;
}

.black-box-type {
  font-family: "Kreon", serif;
  font-weight: 400;
  font-size: 1.15em;
  color: #c2c2c2;
  letter-spacing: .5px;
  margin-left: 20px;
}


/* call to action */

.control {
  font-size: 22px;
}



.columns {
  padding-right: 24px;
  padding-left: 24px;
  margin-top: -108px;
}


.column {
  padding: 0px;
}


.call-to-action {
    width: 60%;
    margin-top: -11.6%;
    padding-top: 2%;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 1;
}

.input {
  height: 40px;
  border: 1px solid #afafaf;
}

.button {
  height: 40px;
  width: 100%;
  border: 1px solid #777576;
  font-size: 16px;
}


/***** TregoED Workshops *****/

.heading {
  text-transform: none;
  border-bottom: 1px solid #e0612b;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 35px;
}

.best-for {
  text-transform: uppercase;
}

.notification.is-success {
    background-color: none;
    color: black;
}

.title {
    padding-bottom: 0px;
}

.content h5 {
  color: #e0612b;
  font-weight: 700;
  font-size: 1.125em;
  padding-top: 10px;
}

.content ol {
     margin-left: 0; 
}

.title:not(:last-child) {
    margin-bottom: 0px;
}

.image.is-4by3 {
  background-image: url("../images/DSCN0390.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.orange-square {
    background-color: #e0612b;
    height: 355px;
    margin-top: -355px;
    margin-left: -40px;
    width: 65%;
}

.above {
  z-index: 2;
}


/***** Colors *****/

.black {
  color: black;
}

.orange {
  color: #e0612b;
}



@media screen and (min-width: 769px) {


}

.nav-right {
	justify-content: center;
}


.other-content {
  height: 600px;
  width: 100%;
  background: #ececec;
}



/* Hide mobile nav in normal view */



/***** Smaller Browser Windows *****/

@media screen and (max-width: 1350px) {

  .column {
  padding: -10px;
  }

  .call-to-action {
    margin-top: -13.6%;
  }
}


@media screen and (max-width: 1250px) {
  .dropdown-content {
    /* display: none; */
/*    position: absolute;*/
    width: 1050px;
  }

    .subnav-graphic {
    padding-right: 15px;
    padding-left: 15px;

  }

  .tagline {
    padding-top: 10px;
  }

  .column {
  padding: -10px;
}

  .call-to-action {
    margin-top: -20.6%;
  }
}

/*@media screen and (max-width: 1175px) {
    .call-to-action {
    margin-top: -202px;
  }

}*/



@media screen and (max-width: 1050px) {
  .nav-type {
    margin-right: 25px;
  }

   .hero {
    max-height: 0px; 
    min-height: 575px;
  }

  .tagline {
    width: 90%;
    margin: 0, auto;
    padding-top: 0px;
  }

   .dropdown-content {
    width: 920px;
  }

    .subnav-graphic {
    padding-right: 10px;
    padding-left: 10px;

  }

  .call-to-action {
    margin-top: -27.6%;
  }

  .four-process-type {
    font-size: 1.15em;
  }

  .icon.is-subnav {
    font-size: 22px;
    line-height: 36px;
  }

  .subnav-circle {
    min-height: 35px;
    min-width: 35px;
  }

  .purpose {
    font-size: 10.5px;
  }

  .how-it-works-type {
    font-size: 2.25em;
  }

  .dropdown-content.how-it-works {
    width: 900px;
  }

}

@media screen and (max-width: 900px) {
  .nav-type {
      font-size: 14px;
  }

  .dropdown-content {
    width: 810px;
  }

    .call-to-action {
    margin-top: -35.6%;
  }


  .four-process-type {
    font-size: 1em;
  }

  .icon.is-subnav {
    font-size: 18px;
  }

  .subnav-circle {
    min-height: 35px;
    min-width: 35px;
  }

  .purpose {
    font-size: 9.5px;
  }

  .dropdown-content.how-it-works {
    width: 800px;
  }

    .orange-square {
    display: none;
  }



}

/*@media screen and (min-width: 769px) {
.column.is-one-third, .column.is-one-third-tablet {
    width: 35.5%;
  }
}*/

/*@media screen and (min-width: 769px) {
  .column.is-offset-8, .column.is-offset-8-tablet {
    margin-left: 65.66667%;
  }
}*/

@media screen and (min-width: 768px) {



}




/***** Mobile Devices - iPad*****/

@media only screen and (max-width: 768px) {

  .is-large {
    padding-top: 0px;
  }

  .hero {
    max-height: 0px; 
    min-height: 500px;
  }

  .hero-title {
    font-size: 3.4em;
  }

  .title {
  margin-top: 0px;
  }

  .columns {
    margin-top: 0px;
    margin-bottom: -15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  }

  .columns:last-child {
        margin-bottom: -15px;
  }


  .call-to-action {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }




  .submenu, .dropdown-content  {
    display: none;
  }

  .mobile-subnav {
  display: block;
  }

  .icon.is-medium {
    font-size: 14px;
    line-height: 27px;
  }

  .circle {
    min-height: 25px;
    min-width: 25px;
  }


  .tregoed-padding {
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 16px;
    padding-left: 20px;
  }

  .nav-type {
    margin-right: 0;
}

  .nav {
    min-height: 42px;
    padding-right: 10px;
  }

  .nav-center {
    padding-top: 10px;
  }

  .nav-toggle {
    height: 42px;
  }

  .subnav-circle {
    background-color: black;
  }

  .subnav-padding {
    padding-left: 7px;
  }

  .tagline {
    padding-top: 80px;
  }

  .hide {
  display: none;
  }

  .nav-menu .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}

  .notification {
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 36px;
  }

}

@media screen and (max-width: 725px) {



}


/***** iPhone Devices *****/


@media only screen and (max-width: 650px) {
	

}


/***** iPhone 6  *****/

@media only screen and (max-width: 375px) {


}

/***** iPhone 5  *****/

@media only screen and (max-width: 490px) {
  .nav {
    min-height: 37px;
  }

  .nav-toggle {
    height: 37px;
  }

  .nav-left {
    overflow-x: hidden;
  }

.icon.is-medium {
  font-size: 13px;
  height: 28px;
  width: 28px;
  line-height: 24px;
}

  .is-brand {
    width: 60%;
    min-width: 125px;
  }

  a.nav-item {
    padding: 6px;
  }
}


