/** {
	-moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}*/



/***** Basic Styles *****/

html {
	background-color: white;
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
  padding-top: 10px;
}

header {
    -ms-flex-negative: 0;
      flex-shrink: 0;
}

section {
  background-color: none;
}

p {
  padding-top: 8px;
}


.container {
	max-width: 1280px;
}

.container.is-fluid {
  margin: 0 auto;
}

.yellow, .button.is-primary {
	background-color: #ffde00;
}

.grey {
  background-color: #f5f5f5;
}


.negative-margin {
    margin-top: -180px;
}

.yellow-type {
	color: #ffde00;
}

.white {
	color: white;
}

.white-background {
  background-color: white;
}

.black {
  color: black;
}

.black-bck {
  background-color: #eeeded;
}


i {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

li {
  padding-top: 6px;
}

.lgt-grey {
  color: #b2b1b1;
}

.footer a:not(.icon), .footer a:visited:not(.icon) {
    border-bottom: none;  
}

/*.icon:last-child, .icon:first-child {
  margin-left: 0px;
  margin-right: 0px;
}*/



.tabs a, li.is-active {
    border-bottom-color: none;
    color: none;
    padding-bottom: 10px;
}




/***** Header & Nav *****/


.is-brand {
    min-width: 125px;
}

.nav{
	min-height: 55px
}

.nav-item img {
  max-height: 63px;
}

.tregoed-padding {
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 20px;
  padding-bottom: 10px;
}

.icon.is-medium {
  font-size: 18px;
  height: 32px;
  line-height: 30px;
}

.icon.is-subnav {
  font-size: 30px;
  height: 32px;
  line-height: 43px;
}

.circle {
    border-radius: 50%;
    min-height: 35px;
    min-width: 35px;
    border: 3px solid #ffde00;
}

.playbutton {
  margin: 0 auto;
  text-align: center;
  font-size: 8em;
  color: #dadbdf;
  opacity: 0.7;
}

.subnav-circle {
    border-radius: 60%;
    min-height: 45px;
    min-width: 45px;
    border: none;
}

.subnav-circle.purple-circle {
    background-color:  #8b0170;
}

.subnav-circle.green-circle {
    background-color:  #3d9a27;
}

.subnav-circle.red-circle {
    background-color:  #b20002;
}

.subnav-circle.umber-circle {
    background-color:  #ca8a07;
}

.nav-type {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: .0675em;
	text-transform: uppercase;
	font-weight: 800;
	margin-right: 65px;
}

.nav-type.last-item{
  margin-right: 0px;
}

.line {
	height: 7px;
	width: 40%;
	margin: 5px auto;
}

.submenu {
  padding-top: 25px; 
  padding-bottom: 25px;
}

.hiw-boxes {
  width: 48%;
/*  border: 1px solid purple;*/
}

.how-it-works-menu {
    padding-top: 0px;
    margin: 0 auto;
/*    border: 1px solid green;*/
}

.submenu li {
  display: inline-block;
  color: #8b0170;
/*      border: 1px solid black;*/
}


.mobile-subnav {
  display: none;
}

.how-it-works-type {
  font-size: 2.75em;
  font-weight: 300;
}

.nav-left {
  overflow: visible;
  overflow-x: visible;
  white-space: normal;
}


/***** Header & Nav *****/

/* Dropdown Button */


.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1230px;
    min-width: 160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content.how-it-works {
 /*   display: none;*/
    width: 1000px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #fff}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
    color: #363636;
}

/***** Rollovers *****/

.purple {
  color: #8b0170;
}

.green {
  color: #3d9a27;
}

.red {
    color: #b20002;
}

.burnt-umber {
  color: #ca8a07;
}

.four-process-type {
    font-size: 1.25em;
}

.purpose {
  color: black;
  font-size: 12.5px;
  letter-spacing: .0675em;
  text-transform: uppercase;
  font-weight: 800;
}

.subnav-graphic {
  border-right: 1px solid #e0dfdf;
  min-width: 172px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.subnav-graphic.ppa {
  padding-right: 0px;
  border-right: none;
}

.subnav-graphic.sa {
  padding-left: 0px;
}

.subnav-graphic.hiw {
    padding-right: 0px; 
    padding-left: 0px; 
/*    width: 30%;*/
    margin: 0 auto;
}


.subnav-graphic:hover {
  opacity: .75;
}


/***** Hero *****/

.hero {
	margin: 0 auto; 
  width:100%;
    background-color: #f5f5f5;
    min-height: 600px;
    max-height: 600px;
  padding-bottom: 0px;
  padding-top: 0px;
  z-index: 0;

}

.tagline {
  padding-top: 45px;
  }


.is-large {
	width:100%;
	max-width: 2400px;
  background-color: #f5f5f5;
  background-size: cover;
  padding-bottom: 0px;
  padding-top: 220px;
}


h1 {
	font-family: 'Kreon', 'Georgia', serif;
	text-align: center; 
  font-weight: 700;
  font-size: 3.6em;
  text-shadow: 2px 2px #070707;
  letter-spacing: .05em;
  line-height: 1.1em;
  padding-bottom: 10px;
}


@media screen and (min-width: 769px) {
/*  .hero.is-large .hero-body {
    padding-bottom: 119px;
    padding-top: 178px;
  }*/
}


.subtitle {
  font-weight: 700;
  font-size: 1.688em;
  margin-top: 3px;
  letter-spacing: .01em;
  text-shadow: 1px 1px #292929;
  text-align: center;
}

/* black square */


.black-square {
  display: flex;
  position: absolute;
}

.box {
  z-index: 2;
  background-color: none;
  border-right: 1px solid #eeedee;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  display: block;
}

.box.border{
  border: none;
  background-color: none;
}

.notification {
    background-color: black;
    border-radius: 0px;
    margin-right: 5%;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 4;

}


.twenty-two-pt {
  font-size: 1.22em;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.reach-out {

}

.field-is-smaller {
  width: 50%;
}

h2 {
  font-family: 'Kreon', 'Georgia', serif;
  text-align: center; 
  font-weight: 700;
  font-size: 2.3em;
  padding-bottom: 15px;
}


h4 {
  font-weight: 300;
  font-size: 2.4em;
  line-height: 1.4em;
}

h5 {
  font-weight: 700;
  font-size: 1.125em; 
  color: #e0612b; 
  text-transform: uppercase;
}

h5.is-sub-head {
  padding-bottom: 10px;
}

h6 {
  font-style: italic;
  font-weight: 400;
  color: #212121;
  font-size: 1.55em;
  letter-spacing: -.005em;
}

.black-box-type {
  font-family: "Kreon", serif;
  font-weight: 400;
  font-size: 1.15em;
/*  color: #c2c2c2;*/
  letter-spacing: .5px;
  margin-left: 20px;
}


/* call to action */

.control {
  font-size: 22px;
}

.columns {
  padding-right: 24px;
  padding-left: 24px;
}

.is-benefit-box {
  margin-top: -108px;
}

.column {
  padding: 0px;
}

.call-to-action {
    width: 60%;
    margin-top: -11.6%;
    padding-top: 2%;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 1;
}

.input {
  height: 50px;
  border: 1px solid #afafaf;
}

.button {
  height: 50px;
  width: 100%;
  border: 1px solid #777576;
  font-size: 16px;
}

.button.narrow {
  width: 20%;
}

.button.type {
  font-size: .6em;
  color: #231f20;
  text-transform: uppercase;
  font-weight: 500;
}

.button.newsletter {
  background-color: #959595;

}

.form-type {
  font-size: 1em;
  color: #636363;
  font-weight: 300;
}

.center {
  text-align: center;
}


/***** TregoED Workshops *****/

.heading {
  text-transform: none;
  border-bottom: 1px solid #e0612b;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 35px;
}

.best-for {
  text-transform: uppercase;
}

.notification.is-success {
    background-color: none;
    color: black;
}

.title {
    padding-bottom: 0px;
}

.content h5 {
  color: #e0612b;
  font-weight: 700;
  font-size: 1.125em;
  padding-top: 10px;
}

.content ol {
     margin-left: 0; 
}

.title:not(:last-child) {
    margin-bottom: 0px;
}

.image.is-4by3 {
  background-image: url("../images/DSCN0390.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.orange-square {
    background-color: #e0612b;
    height: 355px;
    margin-top: -355px;
    margin-left: -40px;
    width: 65%;
    margin-bottom: 40px;
}

.above {
  z-index: 2;
}

.workshop-button {
  width: 60%;
  margin: 0 auto;
}


/***** TregoED Consulting *****/

.consulting-graphics {
  padding-top: 24px;
  padding-bottom: 34px;
}

.half-size img {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.is-negative-margin {
  margin-top: -35px;
}

.narrow {
  padding-left: 24px;
  padding-right: 24px;
}



/***** Discuss & Share *****/

.ds-type {
  font-size: 0.85em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.is-inline {
    display: flex;
    justify-content: left;
}

.sm-article-type {
  font-family: 'Kreon', 'Georgia', serif;
  font-weight: 700;
  font-size: 1.2em;
  padding-bottom: 15px;
  color: black;
  letter-spacing: 0.03em;
  padding-top: 5px;
}

.sm-article-type:after {
        content: "";
    display: inline;
    background: url(../images/chevron.png) center center no-repeat;
    height: 40px;
    width: 40px;
    float: right;
    margin-top: -9px;
    margin-right: -4px;
}

.is-inline {
  display: flex;
}




/***** Colors *****/

.black {
  color: black;
}

.orange {
  color: #e0612b;
}

.dark-grey {
  color: #7a7a7a;
}



@media screen and (min-width: 769px) {


}

.nav-right {
	justify-content: center;
}


.other-content {
  height: 600px;
  width: 100%;
  background: #ececec;
}

/***** Testamonials *****/

.carousel {
  margin: 0 auto;
  padding-bottom: 40px;
}

.gallery {
  background: white;
  margin-top: 19px;
}

.gallery-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  background-color: white;
}

/* cell number */
.gallery-cell:before {
  display: none;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
    height: 36px;
    margin-bottom: 526px;
    width: 100%;
    float: right;
    text-align: right; 
  }

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -11px 12px;
    background: gray;
    border-radius: 50%;

    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  background-color: #ffde00;
}

.rule {
    border-bottom: 1px solid #e0612b;
    height: 3px;
    padding-top: 15px;
}

.quote {
  text-align: left;
  width: 83%;
  padding-top: 95px;
  /*float: right;*/
}

.testamonial-photo {
  width: 74%;
}

.orange-square-testamonial {
    background-color: #e0612b;
    height: 435px;
    margin-top: -435px;
    margin-left: 25px;
    width: 24%;
}





/***** Footer *****/

footer {
    border-top: 3px solid #ffde00;
}

.tabs {
  overflow: visible;
  overflow-x: visible;
  white-space: normal;
}

.box {
  background: none;
}

.footer-padding {
    padding-right: 14px;
    padding-left: 14px;
}


.is-brand-footer {
    width: 70%;
    min-width: 140px;
}


.is-small {
    font-size: 16px;
    text-align: center;
}


.nav-item-footer {
  padding-left: 130px;
  padding-top: 16px;
}

.top-padding {
  padding-top: 16px;
}

.circle-footer {
    border-radius: 50%;
    min-width: 30px;
    border: 3px solid #ffde00;
}

.vert-center {
  margin-top: 4px;
}

.small-field {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.dark-grey-bck {
  background-color: #e2e2e2;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 15px;
  height: 160px;
}

.form-type-footer {
  font-size: .8em;
  color: #636363;
  font-weight: 300;
}

.ital-newsletter {
  color: #6d6d6d;
  font-weight: 700;
  font-style: italic;
  font-size: 1.22em;
  padding-top: 18px;
}

.sign-up {
  margin-top: -20px;
}

.is-in-newsletter {
  background-color: #959595;
}

.is-wide {
  width: 100%;
}

.is-footer-type {
  font-weight: 700;
  color: #6d6d6d;
  font-size: 1rem;
}

.top-row {
      padding-top: 74px;
}

.is-sign-up-box {
  margin-right: 90px;
}

.not-in-mobile {
  display: block;
}

.has-negative-margin {
  margin-right: 0px;

}

.copyright {
  font-size: .77em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 24px;
  margin-top: 50px;
  border-top: 1px solid #eeedee;
}
}






/***** Smaller Browser Windows *****/

@media screen and (max-width: 1350px) {

  .column {
  padding: -10px;
  }

  .call-to-action {
    margin-top: -13.6%;
  }

  .orange-square-testamonial {
  height: 410px;
  margin-top: -400px;
  margin-left: 25px;
  max-height: 435px;
  }
}


@media screen and (max-width: 1250px) {
  .dropdown-content {
    /* display: none; */
/*    position: absolute;*/
    width: 1050px;
  }

    .subnav-graphic {
    padding-right: 15px;
    padding-left: 15px;

  }

  .tagline {
    padding-top: 10px;
  }

  .column {
  padding: -10px;
}

  .call-to-action {
    margin-top: -20.6%;
  }

  .orange-square-testamonial {
    height: 398px;
    margin-top: -394px;
    margin-left: 25px;
    max-height: 435px;
  }

   .carousel {
    padding-bottom: 0px;
  }

}

@media screen and (max-width: 1150px) {
  

  .orange-square-testamonial {
    height: 375px;
    margin-top: -375px;
    margin-left: 25px;
    max-height: 435px;
  }

}



@media screen and (max-width: 1050px) {
  .nav-type {
    margin-right: 25px;
  }

   .hero {
    max-height: 0px; 
    min-height: 575px;
  }

  .tagline {
    width: 90%;
    margin: 0, auto;
    padding-top: 0px;
  }

   .dropdown-content {
    width: 920px;
  }

    .subnav-graphic {
    padding-right: 10px;
    padding-left: 10px;

  }

  .call-to-action {
    margin-top: -27.6%;
  }

  .four-process-type {
    font-size: 1.15em;
  }

  .icon.is-subnav {
    font-size: 22px;
    line-height: 36px;
  }

  .subnav-circle {
    min-height: 35px;
    min-width: 35px;
  }

  .purpose {
    font-size: 10.5px;
  }

  .how-it-works-type {
    font-size: 2.25em;
  }

  .dropdown-content.how-it-works {
    width: 900px;
  }

  .nav-item-footer {
    padding-left: 30px;
  }

  .is-sign-up-box {
    margin-right: 44px;
  }

  .tile.is-6 {
    width: 31%;
  }

    .orange-square-testamonial {
    height: 330px;
    margin-top: -330px;
    margin-left: 25px;
    max-height: 330px;
  }

  .quote {
    padding-top: 65px;
  }

    .carousel {
    padding-bottom: 0px;
  }

  .gallery-cell {
  height: 375px;
  }

  .flickity-page-dots {
    margin-bottom: 398px;
  }
}

@media screen and (max-width: 950px) {

    .orange-square-testamonial {
    height: 290px;
    }

}


@media screen and (max-width: 900px) {

.is-brand {
  width: 80%;
  margin-left: -110px;
}
  .nav-type {
      font-size: 14px;
  }

  .dropdown-content {
    width: 810px;
  }

    .call-to-action {
    margin-top: -35.6%;
  }


  .four-process-type {
    font-size: 1em;
  }

  .icon.is-subnav {
    font-size: 18px;
  }

  .subnav-circle {
    min-height: 35px;
    min-width: 35px;
  }

  .purpose {
    font-size: 9.5px;
  }

  .dropdown-content.how-it-works {
    width: 800px;
  }

    .orange-square {
    display: none;
  }

   .not-in-mobile {
  display: none;
  }

    .quote {
    padding-top: 45px;
  }

    .orange-square-testamonial {
    margin-top: -375px;
    height: 270px;
    width: 22%;
  }


}




/***** Mobile Devices - iPad*****/

@media screen and (max-width : 768px) {

  .footer {
      padding: 0px 20px 50px;
  }

  .is-brand {
  max-width: 35%;
  margin-left: 0px;
  }

  .negative-margin {
    margin-top: 0px;
  }

  .is-large {
    padding-top: 0px;
  }

   .box {
    border-right: none;
    border-bottom: 1px solid #eeedee;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .consulting-graphics {
    padding-top: 0px;
  }

  .hero {
    max-height: 0px; 
    min-height: 500px;
  }

  .hero-title {
    font-size: 3.4em;
  }

  .title {
  margin-top: 0px;
  }

  .is-benefit-box {
    margin-top: 0px;
  }

  .columns {
    margin-top: 0px;
    margin-bottom: -15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .columns:last-child {
    margin-bottom: -15px;
  }


  .call-to-action {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .submenu, .dropdown-content  {
    display: none;
  }

  .mobile-subnav {
  display: block;
  }

  .icon.is-medium {
    font-size: 14px;
    line-height: 27px;
  }

  .circle {
    min-height: 25px;
    min-width: 25px;
  }


  .tregoed-padding {
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 16px;
    padding-left: 20px;
  }

  .nav-type {
    margin-right: 0;
  }

  .nav {
    min-height: 42px;
    padding-right: 10px;
  }

  .nav-center {
    padding-top: 10px;
  }

  .nav-toggle {
    height: 42px;
  }

  .subnav-circle {
    background-color: black;
  }

  .subnav-padding {
    padding-left: 7px;
  }

  .tagline {
    padding-top: 80px;
  }

  .hide {
  display: none;
  }

  .nav-menu .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}

  .notification {
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 36px;
  }

  .button.narrow {
  width: 100%;
  }

  .is-sign-up-box {
    margin-right: 0px;
  }

  .nav-item-footer {
    padding-left: 300px;
  }

  .not-in-mobile {
  display: none;
  }

  .workshop-button {
    width: 100%;
  }

    .orange-square-testamonial {
    display: none;
  }

  .testamonial-photo {
    width: 35%;
  }

  .rule {
    width: 70%;
  }

  .quote {
    width: 58%;
    float: right;
    margin-top: -400px;
    margin-right: 12px;
  }

  .quote-title {
    width: 60%;
    float: right;
    margin-top: -65px;
  }

  .district-title {
    width: 60%;
    float: right;
    margin-top: -40px;
  }


}

/***** iPhone 6+ Devices *****/

@media screen and (max-width : 414px)  {

  .not-in-mobile {
  display: none;
  }

  .grey {
    margin-top: 0px;
  }

  .nav-item-footer {
    padding-left: 33px;
  }

    .dark-grey-bck {
    height: 175px;
  }

    .is-brand-footer {
    min-width: 120px;
  }

  .top-padding {
    min-width: 52px;
  }

    .testamonial-photo {
    width: 100%;
    padding-top: 24px;
  }

  .rule {
    width: 100%;
  }

  .quote {
    width: 100%;
    margin-top: -52px;
    margin-right: -6px;
  }

  .quote-title {
    width: 100%;
    float: right;
    margin-top: 15px;
  }

  .district-title {
    width: 100%;
    float: right;
    margin-top: 4px;
  }

    .gallery-cell {
  height: 975px;
  }

  .flickity-page-dots {
    margin-bottom: 976px;
    text-align: center;
  }

}

/***** iPhone 6  *****/

@media screen and (max-width : 375px) {


    .has-negative-margin {
    margin-right: -15px;
    }

}


/***** iPhone 5  *****/

@media screen and (max-width : 320px) {


    .dark-grey-bck {
    height: 225px;
    }

    .nav-item-footer {
    padding-left: 0px;
    }


    .has-negative-margin {
    margin-right: -20px;
    }


}


/***** iPhone 6 Devices *****/

/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

     .not-in-mobile {
    display: none;
    }

    .is-brand-footer {
    min-width: 110px;
    }

    .nav-item-footer {
    padding-left: 0px;
    padding-top: 10px;
    }

    .top-padding {
      padding-top: 10px;
    }

  .dark-grey-bck {
    height: 175px;
    margin-right: -49px;
  }

}*/


/***** iPhone 5  *****/

/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

     .not-in-mobile {
    display: none;
    }

    .dark-grey-bck {
    height: 225px;
    margin-right: -49px;
  }

}*/

/*@media only screen and (min-width: 320px) {
  .nav {
    min-height: 37px;
  }

  .nav-toggle {
    height: 37px;
  }

  .nav-left {
    overflow-x: hidden;
  }

.icon.is-medium {
  font-size: 13px;
  height: 28px;
  width: 28px;
  line-height: 24px;
  }

  .is-brand {
    width: 60%;
    min-width: 125px;
  }

  a.nav-item {
    padding: 6px;
  }*/

/*   .nav-item-footer {
    padding-left: 0px;
  }*/

/*  li.is-active {
    padding-left: 0px;
    padding-right: 0px;
    width: 56px;
    margin-right: -21px;
  }*/

/*  .dark-grey-bck {
    height: 224px;
  }*/
/*}*/


